/*===========================ECJIAUI �ƶ����� By:will START===========================*/


/*===========================ECJIAUI �ƶ�����  By:will END===========================*/
.tab_merchants {
	float: right;
    width: 78%;
	overflow:visible;
}

.tab_merchants_nav {
	width: 19%;
	margin-right:0px;
}


.wookmark_list .ui-sortable-placeholder{
    height: 190px;
}
