/*===========================ECJIAUI “∆∂Ø≈‰÷√ By:will START===========================*/


/*===========================ECJIAUI “∆∂Ø≈‰÷√  By:will END===========================*/
.tab_merchants {
	float: right;
    width: 78%;
	overflow:visible;
}

.tab_merchants_nav {
	width: 19%;
	margin-right:0px;
}


